@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
    @apply py-2 px-1 border text-sm bg-[#FAFAFA] border-gray-300 rounded-sm focus:outline-gray-300;
}

.auth-form-login-card {
    @apply max-w-[350px] mx-auto mt-5 border px-10 py-10 border-gray-300 flex flex-col gap-10;
}
.auth-form-register-card {
    @apply max-w-[350px] mx-auto mt-5 border px-10 py-10 border-gray-300 flex flex-col gap-4;

}

.auth-form-card-bottom {
    @apply max-w-[350px] mx-auto mt-5 border px-5 py-6 border-gray-300 flex flex-col gap-10;
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
